/* ------------------------------------------------------------ */
/* FONTS */

*{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

h1{
    font-size: 150% !important;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding : auto;
    align-content: center;
}

/* ------------------------------------------------------------ */
/* BODY */

html {
    height : 100%;
    width : 100%;
}

body, main{
    width : 100%;
}

body{
    min-height : 100%;
}

header{
    height : 10%;
}

footer{
    height : 2%;
}

main{
    width : 100%;
    min-height : 90%;
}

/* ------------------------------------------------------------ */
/* HEADER & MENU */

.menu{
    color : #363636!important;
    background-color: #FFFFFF !important;
}

.menu:hover{
    color : #009900!important;
}

.menu:active{
    color : #008000 !important;
}

#titre{
    color : #009900 !important;
}

#titre:hover{
    color : #00b300!important;
}

#titre:active{
    color : #008000 !important;
}

.menuDropdown{
    text-transform : uppercase;
    font-size: 1.25rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.itemDropdown:active{
    background-color: #009900!important;
}

/* ------------------------------------------------------------ */
/* CONTENT */

#content-container {
    background-color : rgba(54, 54, 54, 0.12);
    min-height: 82vh; 
    overflow:auto;
    padding-top : 1em;
    padding-bottom : 1em;
}

#content-container div{
    vertical-align: middle;
    background-color : #FFFFFF;
    border-radius: 10px;
    /* height : 100%; */
    padding-top : 1em;
}

#content-container div h2{
    color : #009900;
}

/* ------------------------------------------------------------ */
/* CONNEXION / INSCRIPTION */

#connexionForm , #inscriptionForm {
    text-align: center;
    border-radius: 25px;
    height: 100%;
}

#connexionForm input, #inscriptionForm input {
    margin-bottom : 5px;
}

#connexionForm p a, #inscriptionForm p a{
    text-decoration : none;
    color : #FF6600;
}

/* ------------------------------------------------------------ */
/* ADMIN */

#adminNav li a{
    color : #363636;
}

#adminNav li a:hover{
    background-color : rgb(216, 216, 216);
}

#adminNav li a:active{
    background: #FFFFFF;
}