RewriteEngine On
# si le nom de fichier ou le nom dans le browser n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}% !-d
# rediriger vers index.php
RewriteRule ^(.*) index.php?url=$1 [QSA,L]